# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Build output
dist/
build/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Optional: database dumps
*.sqlite
*.db